
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_CLLayout.cshtml";
}
<div class="clear"></div>
<div class="maincontainer">
    <section class="pagecontainer">
        <div class="leftcontainer">
            <p>
                Lorem ipsum dolor sit amet. Lorem qui justo. Sed diam duis accusam eirmod sanctus vulputate. Et praesent justo at sit. Ea minim rebum stet eirmod erat quod. Et consetetur veniam iusto et. Consequat accusam esse ut vel et vel aliquyam. Duo sit eu sit nonummy amet. Est delenit consetetur et nihil. Consetetur sit sed praesent gubergren clita. Ullamcorper amet velit dolor hendrerit eu nonumy. Dolor eos doming vero. Consequat vulputate magna lorem duo et ea tation. Ipsum adipiscing diam at. Amet iriure consequat et. Sit vel nostrud duis. Nonumy lorem minim dolore vel gubergren id. Consectetuer quis vel accusam duis. Eros eirmod blandit iriure ea no sadipscing. Iriure aliquyam vel liber aliquam nonumy iusto iriure.
                Erat ullamcorper iriure elitr est. Eirmod at aliquyam molestie erat diam lorem justo. Ipsum elitr et diam sea. Velit dolore amet accusam stet. Lorem kasd rebum amet stet erat est ipsum. Consequat dolore kasd eirmod aliquyam. Et gubergren dignissim et no. Accusam tempor et amet. Aliquyam eu no. Est velit eirmod. Aliquip option tempor diam gubergren sea dolor. Eirmod sea sanctus nisl dolor lobortis imperdiet aliquyam. Kasd rebum stet.
                Aliquip tempor stet cum option nonumy ad. Justo option sed dolores ea sanctus adipiscing. Erat nulla blandit. Nulla dignissim stet delenit takimata no. Consequat option rebum takimata et aliquyam ut. Sit kasd amet gubergren sanctus invidunt nonumy. Assum kasd sadipscing ipsum. Ut nulla nobis lorem vel duis cum elitr. Ut lorem tempor sed tincidunt odio vulputate et. Dolor amet elitr. Nonumy invidunt diam consectetuer at tincidunt consectetuer. Tempor justo dolor et ut. At dolor facilisis est minim rebum vero. Duo dolor elitr vero invidunt nostrud. Amet dolor consetetur clita et. Et ea molestie invidunt suscipit. Dolore diam sanctus nulla stet rebum no. Accumsan amet delenit dolor erat ea consequat. Et dolor enim feugiat sea.
            </p>
        </div>
        <div class="rightcontainer">
            <img src="~/images/photos/Aboutus.png" alt="AfridiPic" style="width:100%;height:auto" />
        </div>
    </section>
    <div class="pagecontainer">
        <p>
            Lorem ipsum dolor sit amet. Lorem qui justo. Sed diam duis accusam eirmod sanctus vulputate. Et praesent justo at sit. Ea minim rebum stet eirmod erat quod. Et consetetur veniam iusto et. Consequat accusam esse ut vel et vel aliquyam. Duo sit eu sit nonummy amet. Est delenit consetetur et nihil. Consetetur sit sed praesent gubergren clita. Ullamcorper amet velit dolor hendrerit eu nonumy. Dolor eos doming vero. Consequat vulputate magna lorem duo et ea tation. Ipsum adipiscing diam at. Amet iriure consequat et. Sit vel nostrud duis. Nonumy lorem minim dolore vel gubergren id. Consectetuer quis vel accusam duis. Eros eirmod blandit iriure ea no sadipscing. Iriure aliquyam vel liber aliquam nonumy iusto iriure.
            Erat ullamcorper iriure elitr est. Eirmod at aliquyam molestie erat diam lorem justo. Ipsum elitr et diam sea. Velit dolore amet accusam stet. Lorem kasd rebum amet stet erat est ipsum. Consequat dolore kasd eirmod aliquyam. Et gubergren dignissim et no. Accusam tempor et amet. Aliquyam eu no. Est velit eirmod. Aliquip option tempor diam gubergren sea dolor. Eirmod sea sanctus nisl dolor lobortis imperdiet aliquyam. Kasd rebum stet.
            Aliquip tempor stet cum option nonumy ad. Justo option sed dolores ea sanctus adipiscing. Erat nulla blandit. Nulla dignissim stet delenit takimata no. Consequat option rebum ta
        </p>
    </div>
 </div>
