
@{
    ViewBag.Title = "ContactUsAfterTeamUpload";
    Layout = "~/Views/Shared/_LayoutAfterTeamUpload.cshtml";
}
<div class="clear"></div>
<div class="maincontainer">
    <section class="pagecontainer">
        <section class="sidebarbox">
            <div class="sidebarbox-title">
                <h3>For Queries</h3>
            </div>
            <h3>info@CricketLeague.com</h3>
        </section>
    </section>
    <section class="pagecontainer">
        <section class="sidebarbox">
            <div class="sidebarbox-title">
                <h3>FAQ's</h3>
            </div>
        </section>

        <section class="sidebarbox">
            <h4><b>Search a topic</b></h4>
        </section>
        <section class="sidebarbox" style="align-items:center">
            <input type="text" id="search" class="field searchtext" placeholder="search" />
        </section>
        <section class="sidebarbox">
            <input type="submit" class="button" name="submit" value="Search" />
        </section>

        <section class="sidebarbox">
            <h4><b>Q. How can I create a team?</b></h4>
        </section>
        <section class="sidebarbox">
            <h4>A. y dolor lorem facilisis magna ea. Nonumy in ut nihil takimata nobis. Ex lorem et tempor et volutpat ipsum qui. Dolore sed erat. Augue gubergren est. Lorem consequat dolor rebum nonumy tempor lorem. Amet nulla iriure vero ipsum blandit. Molestie accusam dolores eirmod ac</h4>
        </section>

        <section class="sidebarbox">
            <h4><b>Q. How can I create a team?</b></h4>
        </section>
        <section class="sidebarbox">
            <h4>A. y dolor lorem facilisis magna ea. Nonumy in ut nihil takimata nobis. Ex lorem et tempor et volutpat ipsum qui. Dolore sed erat. Augue gubergren est. Lorem consequat dolor rebum nonumy tempor lorem. Amet nulla iriure vero ipsum blandit. Molestie accusam dolores eirmod ac</h4>
        </section>

        <section class="sidebarbox">
            <h4><b>Q. How can I create a team?</b></h4>
        </section>
        <section class="sidebarbox">
            <h4>A. y dolor lorem facilisis magna ea. Nonumy in ut nihil takimata nobis. Ex lorem et tempor et volutpat ipsum qui. Dolore sed erat. Augue gubergren est. Lorem consequat dolor rebum nonumy tempor lorem. Amet nulla iriure vero ipsum blandit. Molestie accusam dolores eirmod ac</h4>
        </section>

        <section class="sidebarbox">
            <h4><b>Q. How can I create a team?</b></h4>
        </section>
        <section class="sidebarbox">
            <h4>A. y dolor lorem facilisis magna ea. Nonumy in ut nihil takimata nobis. Ex lorem et tempor et volutpat ipsum qui. Dolore sed erat. Augue gubergren est. Lorem consequat dolor rebum nonumy tempor lorem. Amet nulla iriure vero ipsum blandit. Molestie accusam dolores eirmod ac</h4>
        </section>

        <section class="sidebarbox">
            <h4><b>Q. How can I create a team?</b></h4>
        </section>
        <section class="sidebarbox">
            <h4>A. y dolor lorem facilisis magna ea. Nonumy in ut nihil takimata nobis. Ex lorem et tempor et volutpat ipsum qui. Dolore sed erat. Augue gubergren est. Lorem consequat dolor rebum nonumy tempor lorem. Amet nulla iriure vero ipsum blandit. Molestie accusam dolores eirmod ac</h4>
        </section>

</div>

