
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_CLLayout.cshtml";
}

<div class="clear"></div>
<!-- MAIN MENU -->
<
<!-- MAIN CONTAINER -->
<div class="maincontainer">
    <!-- FLEXSLIDER -->
    <section class="flex-wrapper">
        <div id="slider" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="flex-title">
                        <h3>Apolloni Codicellos</h3>
                        <p>Quo eram amet aliqua incurreret et de velit duis aut iudicem. Culpa voluptatibus incurreret magna deserunt.</p>
                    </div>
                    <img src="~/images/photos/large1.png" alt="" />
                </li>
                <li>
                    <div class="flex-title">
                        <h3>Apolloni Codicellos</h3>
                        <p>Quo eram amet aliqua incurreret et de velit duis aut iudicem. Culpa voluptatibus incurreret magna deserunt.</p>
                    </div>
                    <img src="~/images/photos/large2.png" alt="" />
                </li>
                <li>
                    <div class="flex-title">
                        <h3>Apolloni Codicellos</h3>
                        <p>Quo eram amet aliqua incurreret et de velit duis aut iudicem. Culpa voluptatibus incurreret magna deserunt.</p>
                    </div>
                    <img src="~/images/photos/large3.png" alt="" />
                </li>
            </ul>
        </div>
    </section>
    <div class="clear"></div>
    <!-- FIXTURE TITLE -->
    <div class="scores-title">Upcoming Matches & Latest Results</div>
    <!-- FIXTURE SLIDER -->
    <section class="transparent-bg">
        <div id="fixture">
            <div class="slide-content">
                <div class="match-results">
                    <span>Kolkata Knight Riders</span>
                    <span class="score">VS</span>
                    <span>Lahore Kalanders</span>
                </div>
                <div class="match-place">
                    <span>11th Mar 2018 - 10:00 PM at Dubai Stadium</span>
                </div>
            </div>
            <div class="slide-content">
                <div class="match-results">
                    <span>Banglor Tigers</span>
                    <span class="score">></span>
                    <span>Dehli Daredevils</span>
                </div>
                <div class="match-place">
                    <span>07th Mar 2018 - 11:00 PM at Mumbai Stadium</span>
                </div>
            </div>
            <div class="slide-content">
                <div class="match-results">
                    <span>Islamabad United</span>
                    <span class="score"><</span>
                    <span>Karachi Kings</span>
                </div>
                <div class="match-place">
                    <span>03th Mar 2018 - 09:00 PM at Multan Stadium</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    <!-- PAGE CONTAINER -->
    <section class="pagecontainer">
        <!-- LEFT CONTAINER -->
        <!--  <section class="leftcontainer">
            <h1>Latest News</h1>
            <hr />

            <article class="post">
                <figure>
                    <a href="single-post.html">
                        <img src="~/images/photos/blog1.jpg" alt="" />
                    </a>
                    <figcaption>
                        <h2>Post Title</h2>
                        <div class="post-date">June,12 2014</div>
                    </figcaption>
                </figure>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar, lectus urna vestibulum velit, et pharetra enim sapien eget orci. Mauris in porta neque. In hac habitasse platea dictumst.
                    <a href="single-post.html">Read more...</a>
                </p>
            </article>
            <hr />

            <article class="post">
                <figure>
                    <a href="single-post.html">
                        <img src="~/images/photos/blog2.jpg" alt="" />
                    </a>
                    <figcaption>
                        <h2>Post Title</h2>
                        <div class="post-date">June,09 2014</div>
                    </figcaption>
                </figure>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar, lectus urna vestibulum velit, et pharetra enim sapien eget orci. Mauris in porta neque. In hac habitasse platea dictumst.
                    <a href="single-post.html">Read more...</a>
                </p>
            </article>
            <hr />

            <article class="post">
                <figure>
                    <a href="single-post.html">
                        <img src="~/images/photos/blog3.jpg" alt="" />
                    </a>
                    <figcaption>
                        <h2>Post Title</h2>
                        <div class="post-date">June,05 2014</div>
                    </figcaption>
                </figure>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar, lectus urna vestibulum velit, et pharetra enim sapien eget orci. Mauris in porta neque. In hac habitasse platea dictumst.
                    <a href="single-post.html">Read more...</a>
                </p>
            </article>
            <hr />

            <div class="blogpager">
                <div class="previous">
                    <a href="blog.html" class="button next-prev">View All</a>
                </div>
            </div>
        </section>
    -->
        <!-- RIGHT CONTAINER -->
        <section class="leftcontainer">
            <!-- SIDEBAR BOX -->
            <div class="sidebarbox">
                <h3>Upcoming Matches</h3>
            </div>

            <!-- SIDEBAR BOX -->
            <div class="sidebarbox">
                <div class="sidebarbox-title">
                    <h3>20th Dec 2018</h3>
                </div>
                <!-- TABLE -->
                <div class="fixture-row">
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                </div>
                <div class="sidebarbox-title">
                    <h3>23rd Dec 2018</h3>
                </div>
                <!-- TABLE -->
                <div class="fixture-row">
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>
                    </a>
                    <a href="result.html">
                        <div class="fixture-row-left">
                            Consectetur FC
                            <div>V</div>
                        </div>
                        <div class="fixture-row-right">
                            <div>S</div>Voluptate Cillum FC
                        </div>

                    </a>
                    <button type="button" class="button">
                        @Html.ActionLink("See All","UpcomingMatches")
                    </button>
                </div>
            </div>

        </section>
        <section class="rightcontainer">
            <!-- SIDEBAR BOX -->
            <div class="sidebarbox">
                <h3>Best 11</h3>
            </div>
            <!-- SIDEBAR BOX -->
            <div class="sidebarbox">
                <div class="sidebarbox-title">
                    <h3>Name ____ Price ____ Points ____ Team</h3>
                </div>
            </div>
            <div class="fixture-row">
                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

                <div>
                    <div class="fixture-row-left-half">
                        Rohit S
                    </div>
                    <div class="fixture-row-left-half">
                        5.8$
                    </div>
                    <div class="fixture-row-right-half">
                        40
                    </div>
                    <div class="fixture-row-right-half">
                        KK
                    </div>
                </div>

            </div>

        </section>
    </section>
        <div class="clear"></div>
        <!-- SPONSORS TITLE -->
        <div class="logos-title">Sponsors</div>
        <!-- SPONSORS SLIDER -->
        <section class="transparent-bg">
            <div id="logos">
                <div class="slide">
                    <a href="#">
                        <img src="~/images/photos/themeforest.png" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="~/images/photos/codecanyon.png" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="~/images/photos/photodune.png" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="~/images/photos/activeden.png" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="~/images/photos/audiojungle.png" alt="" />
                    </a>
                </div>
            </div>
        </section>
</div>
