
@{
    ViewBag.Title = "MyTeam";
    Layout = "~/Views/Shared/_LayoutAfterTeamUpload.cshtml";
}
<div class="clear"></div>
<div class="maincontainer">
    <section class="pagecontainer">
        <section class="sidebarbox">
            <section class="sidebarbox-title">
                <h3>Points</h3>
            </section>
        </section>
        <section class="sidebarbox">
            <section class="fixture-row">
                <section class="fixture-row-left" style="text-align:center">
                    <section style="font-size:large">Team Points: <b>45</b></section>
                </section>
                <section class="fixture-row-right" style="text-align:center">
                    <section style="font-size:large">Highest Points: <b>85</b></section>
                </section>
            </section>
        </section>
        <section class="sidebarbox">
            <h2>My Team</h2>
        </section>
        <section class="sidebarbox-title">
            <h3>Playing 11</h3>
        </section>
        <section class="sidebarbox">
            <section class="sidebarbox-title">
                <h3>No _____ Name ____________________________ Cost __________________ Points ___________________ Next Match</h3>
            </section>
        </section>
        <section class="sidebarbox">
            <section class="fixture-row">
                <div>
                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">1 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">2 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">3 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">4 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">5 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">6 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">7 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">8 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">9 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">10 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">11 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="sidebarbox-title">
            <h3>Benched Players</h3>
        </section>
        <section class="sidebarbox">
            <section class="sidebarbox-title">
                <h3>No _____ Name ____________________________ Cost __________________ Points ___________________ Next Match</h3>
            </section>
        </section>
        <section class="sidebarbox">
            <section class="fixture-row">
                <div>
                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">12 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">13 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">14 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">15 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">16</div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">17 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>

                    <div class="fixture-row-left">
                        <div style="float:left; margin-left:7px">18 </div> <div style=" float:left; margin-left:50px">  Shahid Afridi  </div>   <div style="float:right; margin-right:43px"> 5.3$ </div>
                    </div>
                    <div class="fixture-row-right">
                        <div style="float:left ; margin-left:125px"> 40 </div> <div style="float:right; margin-right:37px"> KK VS IU </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</div>