
@{
    ViewBag.Title = "TeamAdding";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
}
<div class="clear"></div>
<div class="maincontainer">
    <section class="pagecontainer">
            <section class="sidebarbox">
                <div class="sidebarbox-title">
                    <h3>Enter Team Name</h3>
                </div>
                <div class="sidebarbox-title">
                    <input type="text" id="search" class="field searchtext" placeholder="enter team name" />
                </div>
            </section>
      
    </section>
    <section class="pagecontainer">
        <section class="leftcontainer">
            <section class="sidebarbox">
                <h3>My Team</h3>
                <section class="fixture-row-left">
                    <h5>Player 0/18 -</h5>
               </section>
                <section class="fixture-row-right">
                    <h5>Money 150$</h5>
                </section>
            </section>
        </section>

        <section class="leftcontainer">
            <section class="fixture-row">
                <section class="sidebarbox">
                    <section class="sidebarbox-title">
                        <h3 sstyle="margin-left:10px">No._____Name_____________Cost_____Pts_____Next Match</h3>
                    </section>
                    <div class="fixture-row">
                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">1 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">2 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">3 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">4 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">5 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">6 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">7 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">8 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">9 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">10 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">11 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>
                    </div>

                </section>
               
                    
                <section class="sidebarbox">
                    <section class="sidebarbox-title">
                        <h3>Benched Players</h3>
                    </section>
                    <div class="fixture-row">
                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">12 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">13 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">14 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">15 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">16 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">17 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>

                        <div>
                            <div class="fixture-row-left">
                                <div style="float:left">18 -- </div> <div style="float:left"> -- </div><div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>
                            </div>
                            <div class="fixture-row-right">
                                <div style="float:left"> 5.3$ </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div> <div style="float:left"> 40 </div> <div style="float:left"> -- </div> <div style="float:left"> -- </div>  <div style="float:left"> -- </div>  <div style="float:right"> KK VS IU </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="sidebarbox">
                    <section class="sidebarbox-title">
                        <h3>Select Captain</h3>
                    </section>
                </section>
                <section class="sidebarbox">

                    <section id="mainmenu-container">
                        <nav>
                            <ul id="mainmenu">
                                <li>
                                    Not Selected
                                    <ul>
                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>

                                        <li>
                                            Shahid Afridi
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </section>
                <section class="sidebarbox">
                    <button type="submit" class="button">
                        @Html.ActionLink("Create Team","HomeAfterTeamAdding")
                    </button>
                </section>
            </section>
        </section>

        <section class="rightcontainer">
            <section class="sidebarbox">
                <section class="sidebarbox-title">
                    <h3>Player Selection</h3>
                </section>
            </section>
            <section class="sidebarbox">
                <h5>Search Player</h5>
            </section>
            <section class="sidebarbox">
                <input type="text" id="search" class="field searchtext" placeholder="search" />
            </section>
            <section class="sidebarbox">
                <h5>Wicket Keepers</h5>
            </section>
            <section class="sidebarbox">
                <section class="sidebarbox-title">
                    <h3 sstyle="margin-left:10px">Name_______Cost_____Team_____Pts</h3>
                </section>
                <div class="fixture-row">
                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>
            </section>

            <section class="sidebarbox">
                <h5>Batsman</h5>
            </section>
            <section class="sidebarbox">
                <section class="sidebarbox-title">
                    <h3 sstyle="margin-left:10px">Name_______Cost_____Team_____Pts</h3>
                </section>
                <div class="fixture-row">
                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>
            </section>

            <section class="sidebarbox">
                <h5>Bowler</h5>
            </section>
            <section class="sidebarbox">
                <section class="sidebarbox-title">
                    <h3 sstyle="margin-left:10px">Name_______Cost_____Team_____Pts</h3>
                </section>
                <div class="fixture-row">
                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>
            </section>

            <section class="sidebarbox">
                <h5>All Rounder</h5>
            </section>
            <section class="sidebarbox">
                <section class="sidebarbox-title">
                    <h3 sstyle="margin-left:10px">Name_______Cost_____Team_____Pts</h3>
                </section>
                <div class="fixture-row">
                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>

                    <div>
                        <div class="fixture-row-left">
                            <div style="float:left">  Shahid Afridi  </div> <div style="float:left"> -- </div> <div style="float:left"> 5.3$ </div>
                        </div>
                        <div class="fixture-row-right">
                            <div style="float:left"> ---- </div> <div style="float:left"> PZ </div>  <div style="float:left"> -- </div>  <div style="float:right"> 37 </div>
                        </div>
                    </div>
            </section>
        </section>
    </section>
</div>
