
@{
    ViewBag.Title = "UpcomingMatchesAfterTeamUpload";
    Layout = "~/Views/Shared/_LayoutAfterTeamUpload.cshtml";
}
<div class="clear"></div>
<div class="maincontainer">
    <section class="pagecontainer">
        <div class="sidebarbox">
            <h3>Upcoming Matches</h3>
        </div>

        <!-- SIDEBAR BOX -->
        <div class="sidebarbox">
            <div class="sidebarbox-title">
                <h3>20th Dec 2018</h3>
            </div>
            <!-- TABLE -->
            <div class="fixture-row">

                <div class="fixture-row-left">
                    <div>V</div>Consectetur FC
                </div>

                <div class="fixture-row-right">
                    <div>S</div>Voluptate Cillum FC
                </div>


                <div class="fixture-row-left">
                    Consectetur FC
                    <div>V</div>
                </div>
                <div class="fixture-row-right">
                    <div>S</div>Voluptate Cillum FC
                </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
            </div>
        </div>
        <div class="sidebarbox">
            <div class="sidebarbox-title">
                <h3>23rd Dec 2018</h3>
            </div>
            <!-- TABLE -->
            <div class="fixture-row">
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>

                </a>
            </div>
        </div>
        <div class="sidebarbox">
            <div class="sidebarbox-title">
                <h3>27th Dec 2018</h3>
            </div>
            <!-- TABLE -->
            <div class="fixture-row">
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>
                </a>
                <a href="result.html">
                    <div class="fixture-row-left">
                        Consectetur FC
                        <div>V</div>
                    </div>
                    <div class="fixture-row-right">
                        <div>S</div>Voluptate Cillum FC
                    </div>

                </a>
            </div>
        </div>
        <div class="sidebarbox">
            <h5>Page - <a style="color:grey">1</a>,<a>2</a>,<a>3</a>...<a>10</a></h5>
        </div>
    </section>
</div>

